html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Pour pouvoir étendre le body sur la hauteur de la fenêtre */
}


body {
  display: flex;
  flex-direction: column; /* Le body se comporte comme un conteneur flexible */
  min-height: 100vh;      /* Facultatif, utile selon les navigateurs/variations */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
